# Lists

# List Creation

In [ ]:
emptyList = []

lst = ['Abbas', 'Akash', 'Anuj', 'Arpit'] # list of strings

lst2 = [92, 93, 94, 95] #list of integers

lst3 = [[5, 6], [7, 8]] # list of lists

lst4 = [1, 'Abbas', 24, 1.96] # list of different datatypes
print(lst)
print(lst2)
print(lst3)
print(lst4)

['Abbas', 'Akash', 'Anuj', 'Arpit']
[92, 93, 94, 95]
[[5, 6], [7, 8]]
[1, 'Abbas', 24, 1.96]

# List Length

In [ ]:
lst = ['one', 'two', 'three', 'four', 'ten']

#find length of a list
print(len(lst))

5

# List Append

In [5]:
lst = ['one', 'two', 'three', 'four']

lst.append('six') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'six']

# List Insert

In [ ]:
#syntax: lst.insert(x, y)

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

# List Remove

In [ ]:
#syntax: lst.remove(x)

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

# List Append & Extend

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [ ]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [ ]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('three')

print(lst)

['one', 'two', 'four']

# List related keywords in Python

In [ ]:
#keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print('AI')

#keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

# List Reverse

In [ ]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

# List Sorting

In [ ]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [ ]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

# List Having Multiple References

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [ ]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [ ]:
s = "This is DS Course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

['This', 'is', 'DS', 'Course']

# List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

# List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that
is not in the selected slice.

In [ ]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [ ]:
print (numbers)
#print alternate elements in a list
print(numbers[::2])


#print elemnts start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

# List extend using "+"

In [ ]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

# List Count

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

# List Looping

In [ ]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

# List Comprehensions

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Map and Filter

In [ ]:
square = lambda x: x ** 2
print(square(5))  # Output: 25

25

In [ ]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x ** 2, numbers)
print(list(squared))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [9]:
squared = []
for i in numbers:
    squared.append(i*i)
squared

NameError: name 'numbers' is not defined

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
evens = []
for i in numbers:
    if i % 2 == 0:
        evens.append(i)
evens

[2, 4, 6]

# Zip

In [ ]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]

# Combine names and scores
zipped = zip(names, scores)
print(list(zipped))  # Output: [('Alice', 85), ('Bob', 90), ('Charlie', 95)]

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

In [ ]:
for name,score in zip(names,scores):
    print(f"Name: {name}, Score: {score}")

Name: Alice, Score: 85
Name: Bob, Score: 90
Name: Charlie, Score: 95

In [ ]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95, 100]

for name,score in zip(names,scores):
    print(f"Name: {name}, Score: {score}")

Name: Alice, Score: 85
Name: Bob, Score: 90
Name: Charlie, Score: 95